{% load static %}
<html>

<head>

	<title>Gamestore</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
	{% include 'navbar.html' %}
	{% block content %}
	<div class='profile_edit'>
		<form method = 'POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type = 'submit'>Save</button>
        </form>
        <button onclick="location.href='/profile/edit/change_password'">Change password</button>
        <button onclick="location.href='/profile/'">Cancel</button>
	</div>
	{% endblock content %}
</body>

</html>
