{% load static %}
<html>

<head>

	<title>Gamestore</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
	{% include 'navbar.html' %}
	<div class="text-center">Are you sure?</div>
	{% block content %}
	<div class='profile_edit d-flex justify-content-center'>
		<form method='POST'>
			{% csrf_token %}
			{{ form.as_p }}

			<button class="btn btn-light" type='submit'>Delete</button>
			<button class="btn btn-light" type="button" onclick='location.href="/games/{{game.id}}/"'>Cancel</button>
		</form>
	</div>
	{% endblock content %}
</body>

</html>
