{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <title>Gamestore</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
  <h2 class="text-center">Games</h2>
  <div class="d-flex justify-content-center w-100">
    <ul class="list-group w-75">
      {% for game in games %}
      <div class="border border-light rounded w-100">
        <li class="list-group-item bg-dark float-left">
          <div>
            {{ game.title }}
          </div>
          <div>
            {{ game.price }}
          </div>
        </li>
        <button class="btn btn-outline-light float-right h-100" onclick="location.href='../{{game.id}}'">View</button>
      </div>
      {% endfor %}
    </ul>
  </div>
</body>

</html>
