{% load static %}
<html>

<head>

  <title>Gamestore</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="d-flex justify-content-center">
    Game {{game.title}}
    <div>
      <h3>Sales statistics</h3>
      <p>Sold: {{transactions.count}}</p>
      {% for transaction in transactions %}
      <p>{{ transaction.timestamp }}</p>
      {% endfor %}
    </div>
    <button class="btn btn-light" onclick="location.href='/games/delete/{{game.id}}'">Delete</button>
    <button class="btn btn-light" onclick="location.href='/games/edit/{{game.id}}'">Edit</button>
    <button class="btn btn-light" onclick="location.href='/games/play/{{game.id}}'">Play</button>
    <button class="btn btn-light" onclick="location.href='/games/all'">Back</button>
  </div>
</body>

</html>
