<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>{{game.title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      function receiveMessage(event) {
        switch (event.data.messageType) {
          case 'SCORE': {
            const score = event.data.score;
            $.ajax({
              url: '/games/submit_score/{{game.id}}/',
              data: {
                'score': score,
              }
            })
            break;
          }
          default:
            console.log(event.data.messageType);
        }
      }
      window.addEventListener("message", receiveMessage, false);
    });
  </script>
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}
  <h2 class="d-flex justify-content-center">{{game.title}}</h2>
  <div class="d-flex justify-content-center">
    <div class='playGame'>
      <form>
        <iframe src="{{game.url}}">

        </iframe>
      </form>
    </div>
    <div class="scoreList" style="float:left;">
      <h3>Highscores</h3>
      <table>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
        {% for score in scores %}
        <tr>
          <td>{{score.user}}</td>
          <td>{{score.score}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endblock content%}
</body>

</html>
