<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>{{game.title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      function sendMSG(msg){
        document.getElementById('game_frame').contentWindow.postMessage(msg, '{{game.url}}');
      }
      function receiveMessage(event) {
        switch (event.data.messageType) {
          case 'SCORE': {
            const score = event.data.score;
            $.ajax({
              url: '/games/submit_score/{{game.id}}/',
              data: {
                'score': score,
              }
            })
            break;
          }
          case 'SAVE': {
            const state = event.data.gameState
            $.ajax({
              url: '/games/save_game/{{game.id}}/',
              data: {
                'gameState': JSON.stringify(state),
              }
            }).done(function(data){
              if(data !== 'success'){
                const msg = {
                  'messageType': 'ERROR',
                  'info': 'Failed to save the game!',
                }
                //document.getElementById('game_frame').contentWindow.postMessage(msg, '{{game.url}}');
                sendMSG(msg);
              }
            });
            break;
          }
          case 'LOAD_REQUEST': {
            $.ajax({
              url: '/games/load_game/{{game.id}}/',
            }).done(function(data){
              const result = JSON.parse(data)
              console.log(result);
              const msg = {
                'messageType': 'LOAD',
                'gameState': result,
              }
              //document.getElementById('game_frame').contentWindow.postMessage(msg, '{{game.url}}');
              sendMSG(msg);
            }).fail(function(){
              const msg = {
                  'messageType': 'ERROR',
                  'info': 'Failed to load the game!',
                }
                sendMSG(msg);
            });
            //document.getElementById('game_frame').contentWindow.postMessage(msg, '{{game.url}}');
            break;
          }

          case 'SETTING': {
            const options = event.data.options;
            $('#game_frame').width(options.width);
            $('#game_frame').height(options.height);
            break;
          }
          default:
            console.log(event.data.messageType);
        }
      }
      window.addEventListener("message", receiveMessage, false);
    });
  </script>
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}
  <h2 class="d-flex justify-content-center">{{game.title}}</h2>
  <div class="d-flex justify-content-center">
    <div class='playGame'>
      <form>
        <iframe id="game_frame" src="{{game.url}}">

        </iframe>
      </form>
    </div>
    <div class="scoreList" style="float:left;">
      <h3>Highscores</h3>
      <table>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
        {% for score in scores %}
        <tr>
          <td>{{score.user}}</td>
          <td>{{score.score}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endblock content%}
</body>

</html>
