{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="d-flex justify-content-center mt-3">
    <div class="search_form">
      <form method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
        <button class="btn btn-primary" type='submit'>Search</button>
      </form>
    </div>
  </div>
  <div class="search_game_list d-flex justify-content-center w-100 mt-3">
    <ul class="list-group w-75">
      {% for game in games %}
      <div class="border border-light rounded w-100 m-2">
        <li class="btn list-group-item" onclick="location.href='../{{game.id}}'">
          <div style="text-align: center;">
            <span style="font-size:xx-large;">{{ game.title }}</span>
          </div>
          <div style="text-align: center;">
            <span style="font-size: large;">Price: {{ game.price }}€</span>
          </div>
          {% if game.tags %}
          <div style="text-align: center;">
            <span style="font-size: large;">Tags: {{ game.tags }}</span>
          </div>
          {% endif %}
        </li>
      </div>
      {% endfor %}
    </ul>
  </div>
</body>

</html>
